<div class="block-inner">
	<div class="buttons" style="display:block;">
		<div class="buttons-inner">
		    <div class="buttons-cluster clearfix" style="text-align:center;">
		        <button class="buttons-action" disabled style="float:none;">Submit</button>
		    </div>
		</div>
	</div>
</div>